

$white: white;
$black: rgb(51, 51, 51);
$grey: grey;
$lightGrey: rgb(207, 207, 207);

$green: #4ca734;
$lime: #8DC63F;
$lightBlue: #7A99D6;
$lighterBlue: rgb(174, 200, 253);

// $bodyFont: 'Times New Roman', Times, serif;
$bodyFont: Tahoma, Geneva, sans-serif;
$headingFont: 'Comic Sans MS', Verdana, Geneva, sans-serif;

$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops