@import '../../styles/variables';
@import '../../styles/mixins';

.LoadingCircle {
    .box {
        margin:30px auto 0;
        padding:20px;
        // border:1px solid $lightGrey;
        border-radius: 10px;
        width:100%;
        max-width: 300px;
        h3 {
            text-align: center;
            margin-bottom: 1em;
            color:$grey;
            font-family: $lightGrey;
        }
        img {
            display: block;
            width:50px;
            margin:0 auto;
            -webkit-filter: hue-rotate(56deg);            
            filter: hue-rotate(56deg) ;            
        }
    }
}

.cards-list {
	columns: 250px;
    column-gap: 30px; 
    margin:10px 0 30px;
}

.card-item {
    .wrap {
        border: 2px solid $lightGrey;
        border-radius: 8px;
        background: $white;
        break-inside: avoid-column;
        margin-bottom: 30px; 
        position: relative;
        max-width: 400px;;
        overflow: hidden;
    }
    header {
		position: absolute;
		width: 100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 15px;
		color: #ffffff;
    }
    .title {
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        max-width: 53%;
        .pet-name {font-size: 18px;}
        .pet-id {font-weight: normal;}
    }
    
    .btn {
        padding: 8px 16px;
        border-radius: 8px;
        background-color: $lightBlue;;
        color: $white;
        border: 3px solid $lightGrey;
        float: right;
        font-size: 20px;
        &.small {
            font-size: calc(1.3em - 6px);
            margin-left: 10px;
            padding: 3px 5px;
        }
        &.donate-button {
            float: none;
            margin: 0 auto;
            display: block;
            border:none;
            box-shadow:1px 1px 2px #878787;
        }
        &:disabled {
            background-color: $grey;
            box-shadow:none;
            color:$lightGrey;
        }
    }
    
    .content {
        background-color: #ffffff;
    }
    
    .photo img {
        display: block;
        width: 100%;
    }
    
    .data {
        padding: 15px;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li { display: table; width: 100%;
                b { display: table-cell; }
                span { display: table-cell; text-align: right; }
            }
        }
    }
    
    .donate {
        background-color: #d3d3d3;
        padding: 10px;
        display: flow-root;
    }
    
    .amount {
        display: inline-block;
        margin-top: 10px;
    }
    
    footer {
        background-color: #4ca734;
        color: #ffffff;
        text-align: center;
    }
    
    .call-now {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
    }
    &.animate {
        -webkit-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@include max-sm {
	.card-item {
		font-size: 18px;
	}
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
} 
